---
import classNames from "classnames";
import Block from "components/@uikit/Block/Block.astro";
import BlockContent from "components/@uikit/Block/BlockContent.astro";
import BlockTitle from "components/@uikit/Block/BlockTitle.astro";
import Field from "components/@uikit/Field/Field.astro";
import Input from "components/@uikit/Input/Input.astro";
import ToggleButtonGroup, {
	Props as ToggleButtonGroupProps,
} from "components/@uikit/ToggleButtonGroup/ToggleButtonGroup.astro";
import Button from "components/@uikit/Button/Button.astro";
import Timer from "components/@uikit/Timer/Timer.astro";
import "./OutcomeForm.scss";

export interface Props {
	className?: string;
	variant: "wallet" | "green" | "blue" | "purple" | "partner-balance";
}

const { className, variant } = Astro.props;
const items: ToggleButtonGroupProps["items"] = [
	{ text: "Кошелек", value: "wallet", attributes: { "data-to-outcome-variant": "wallet" } },
	{ text: "Зеленый блок", value: "green", attributes: { "data-to-outcome-variant": "green" } },
	{ text: "Синий блок", value: "blue", attributes: { "data-to-outcome-variant": "blue" } },
	{ text: "Фиолетовый блок", value: "purple", attributes: { "data-to-outcome-variant": "purple" } },
	{
		text: "Партнерский баланс",
		value: "partner-balance",
		attributes: { "data-to-outcome-variant": "partner-balance" },
	},
];
---

{
	variant === "wallet" && (
		<Block className={classNames(className, "outcome-form")}>
			<BlockTitle className="outcome-form__title">
				Вывести средства
				<ToggleButtonGroup items={items} value="wallet" disableJs />
				<ToggleButtonGroup
					items={[{ text: "USDT TRC 20", value: "wallet", attributes: { "data-to-outcome-variant": "wallet" } }]}
					value="wallet"
					simple
					disableJs
				/>
			</BlockTitle>
			<BlockContent as="form" className="outcome-form__content">
				<Field label="Сумма перевода" fullWidth>
					<Input placeholder="Введите сумму перевода в USDT" type="number" />
				</Field>
				<Field label="Номер кошелька" fullWidth>
					<Input placeholder="Номер вашего USDT кошелька" />
				</Field>
				<div class="outcome-form__result">
					<div class="outcome-form__result-label">Итого к выводу</div>
					<div class="outcome-form__result-value">1000 USDT</div>
					<div class="outcome-form__result-remark">
						Комиссия вывода с кошелька 5%
						<br />
						Регламент вывода с кошелька до 72 часов
					</div>
				</div>
				<Button variant="contained" type="submit" fullWidth>
					Вывести средства
				</Button>
			</BlockContent>
		</Block>
	)
}

{
	variant === "green" && (
		<Block className={classNames(className, "outcome-form")}>
			<BlockTitle className="outcome-form__title">
				Вывести средства
				<ToggleButtonGroup items={items} value="green" disableJs />
			</BlockTitle>
			<BlockContent as="form" className="outcome-form__content">
				<Field label="Сумма перевода" fullWidth>
					<Input placeholder="Введите сумму перевода в USDT" type="number" />
				</Field>
				<div class="outcome-form__result">
					<div class="outcome-form__result-label">Итого к выводу</div>
					<div class="outcome-form__result-value">230 USDT</div>
				</div>
				<div class="outcome-form__submit-section">
					<div class="outcome-form__submit-section-title">Перевести на кошелёк</div>
					<div class="outcome-form__submit-section-cards">
						<div class="outcome-form__submit-card">
							<div class="outcome-form__submit-card-label">
								<span>Каждый день, 2% за вывод</span>
							</div>
							<Button className="outcome-form__submit-card-btn" variant="contained" type="submit" fullWidth>
								Перевести
							</Button>
						</div>
						<div class="outcome-form__submit-card">
							<div class="outcome-form__submit-card-label">
								<span>Раз в неделю, без процентов</span>
								<Timer
									className="outcome-form__submit-card-timer"
									finishDate={new Date("Sun Oct 29 2023 21:44:14 GMT+0300 (GMT+03:00)")}
									format="Осталось ddд : hhч : mmм : ssс"
								/>
							</div>
							<Button
								className="outcome-form__submit-card-btn"
								variant="contained"
								type="submit"
								fullWidth
								disabled
							>
								Перевести
							</Button>
						</div>
					</div>
				</div>
			</BlockContent>
		</Block>
	)
}

{
	variant === "blue" && (
		<Block className={classNames(className, "outcome-form")}>
			<BlockTitle className="outcome-form__title">
				Вывести средства
				<ToggleButtonGroup items={items} value="blue" disableJs />
			</BlockTitle>
			<BlockContent as="form" className="outcome-form__content">
				<Field label="Сумма перевода" fullWidth>
					<Input placeholder="Введите сумму перевода в USDT" type="number" />
				</Field>
				<div class="outcome-form__result">
					<div class="outcome-form__result-label">Итого к выводу</div>
					<div class="outcome-form__result-value">230 USDT</div>
				</div>
				<div class="outcome-form__submit-section">
					<div class="outcome-form__submit-section-title">Перевести на кошелёк</div>
					<div class="outcome-form__submit-section-cards">
						<div class="outcome-form__submit-card">
							<div class="outcome-form__submit-card-label">
								<span>Раз в неделю, без процентов</span>
								<Timer
									className="outcome-form__submit-card-timer"
									finishDate={new Date("Sat Nov 04 2023 21:44:14 GMT+0300 (GMT+03:00)")}
									format="Осталось ddд : hhч : mmм : ssс"
								/>
							</div>
							<Button
								className="outcome-form__submit-card-btn"
								variant="contained"
								type="submit"
								fullWidth
								disabled
							>
								Перевести
							</Button>
						</div>
					</div>
				</div>
			</BlockContent>
		</Block>
	)
}

{
	variant === "purple" && (
		<Block className={classNames(className, "outcome-form")}>
			<BlockTitle className="outcome-form__title">
				Вывести средства
				<ToggleButtonGroup items={items} value="purple" disableJs />
			</BlockTitle>
			<BlockContent as="form" className="outcome-form__content">
				<Field label="Сумма перевода" fullWidth>
					<Input placeholder="Введите сумму перевода в USDT" type="number" />
				</Field>
				<div class="outcome-form__result">
					<div class="outcome-form__result-label">Итого к выводу</div>
					<div class="outcome-form__result-value">230 USDT</div>
				</div>
				<div class="outcome-form__submit-section">
					<div class="outcome-form__submit-section-title">Перевести на кошелёк</div>
					<div class="outcome-form__submit-section-cards">
						<div class="outcome-form__submit-card">
							<div class="outcome-form__submit-card-label">
								<span>Раз в неделю, без процентов</span>
								<Timer
									className="outcome-form__submit-card-timer"
									finishDate={new Date("Sat Nov 04 2023 21:44:14 GMT+0300 (GMT+03:00)")}
									format="Осталось ddд : hhч : mmм : ssс"
								/>
							</div>
							<Button
								className="outcome-form__submit-card-btn"
								variant="contained"
								type="submit"
								fullWidth
								disabled
							>
								Перевести
							</Button>
						</div>
					</div>
				</div>
			</BlockContent>
		</Block>
	)
}

{
	variant === "partner-balance" && (
		<Block className={classNames(className, "outcome-form")}>
			<BlockTitle className="outcome-form__title">
				Вывести средства
				<ToggleButtonGroup items={items} value="partner-balance" disableJs />
			</BlockTitle>
			<BlockContent as="form" className="outcome-form__content">
				<Field label="Сумма перевода" fullWidth>
					<Input placeholder="Введите сумму перевода в USDT" type="number" />
				</Field>
				<div class="outcome-form__result">
					<div class="outcome-form__result-label">Итого к выводу</div>
					<div class="outcome-form__result-value">230 USDT</div>
				</div>
				<Button className="outcome-form__submit-card-btn" variant="contained" type="submit" fullWidth>
					Перевести на кошелёк
				</Button>
			</BlockContent>
		</Block>
	)
}
