---
import Button from "../Button/Button.astro";
import "./RandomInput.scss";

type Props = {
    name?: string;
    min?: number;
    max?: number;
    defaultValue?: number;
}

const { name, min, max, defaultValue } = Astro.props;
---

<div 
    class="random-input" 
    data-random-input
    data-min={min}
    data-max={max}
>
    <input
        class="random-input__input"
        value={defaultValue}
        name={name} 
        min={min}
        max={max}
        type="number" 
    />
    <Button className="random-input__button" type="button">⟳</div>
</div>

<script>
    import "./RandomInput";
</script>